@mixin headerFont($fontSize, $lineHeight, $letterSpacing) {
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  text-transform: uppercase;
}

/* Mixin to manage responsive breakpoints */
@mixin breakpoint($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
  }
}