@use '../utilities/' as *;

.form {
  box-shadow: 20px 20px 0 $sunflowerYellow;

  &__wrapper {
    padding: 24px;
    @include breakpoint('lg') {
      width: 900px;
      margin: 0 auto;
      padding: 60px 60px 30px 60px;
    }
  }

  input {
    // width: 100%;
    width: 300px;
    font-size: 2rem;
    color: $white;
    background: transparent;
    border: none;
    border-bottom: 1px solid $sunflowerYellow;
    outline: none;
    padding: 20px;
    margin-bottom: 20px;

    &::placeholder {
      color: white;
    }

    &__input-fields {
      @include breakpoint('md') {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

      }
    }
  }


  textarea {
    color: $white;
    width: 100%;
    padding: 20px;
    background: transparent;
    border: 1px solid $sunflowerYellow;
    margin: 20px 0;
  }


  button {
    width: 100%;
    color: $almostBlack;
    background: $sunflowerYellow;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 0;
  }
}