@use '../utilities/' as *;

.gallery {
  padding: 24px;
  background: $almostBlack;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint('md') {
      flex-direction: row;
    }
  }

  &-card {
    width: 300px;
    height: 300px;
    margin: 10px;
    @include breakpoint('md') {
      margin: 40px 10px;
    }
  }
}