@use '../utilities/' as *;

.promo {
  background: $pine;
  padding: 24px;

  &__wrapper {
    
  }

  &__heading {
    margin: 0;
    @include headerFont(3rem, 99.8px, 1px);
    color: $sunflowerYellow;
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  &__find-out-more {
    background: $almostBlack;
    color: $white;
    text-transform: uppercase;
  }
}