@use '../utilities/' as *;

.promo {
  background: $pine;
  padding: 24px;

  &__wrapper {
    @include breakpoint('md') {
      max-width: 1110px;
      margin: 0 auto;
      padding: 50px 0;
    }
  }

  &__heading {
    @include headerFont(3rem, 99.8px, 1px);
    color: $sunflowerYellow;
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  &__find-out-more {
    background: $almostBlack;
    color: $white;
    text-transform: uppercase;
  }
}