@use '../utilities/' as *;

.space {
  background: $pine;

  &__feature {
    padding: 32px 24px 0 24px;

    &-heading {
      @include headerFont(2.6rem, 99.8px, 1px);
      color: $sunflowerYellow;
      text-align: center;
    }
    &-text {
      text-align: center;
    }
  }

  &__find-out-more {
    background: $almostBlack;
    color: $white;
    text-transform: uppercase;
  }
}