@use '../utilities/' as *;

.main {
  &__wrapper {
    @include breakpoint('lg') {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

.blog {
  background-image: url(/assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-position: -100px;
  background-size: cover;
  

  @include breakpoint('lg') {
    background-position: center;
  }
}

.blog-post {
  background: $pine;

  &__wrapper {
    padding: 24px;

    @include breakpoint('lg') {
      box-shadow: -5px 5px 0 $sunflowerYellow;
      position: relative;
      top: 0;
      right: 0;
      padding-right: 0;
      padding-top: -40px;
      margin-left: 10%;
    }
  }

  &__heading {
    @include headerFont(4.3rem, 60px, 1px);
    color: $sunflowerYellow;
    margin-bottom: 20px;
    text-align: center;

    @include breakpoint('lg') {
      text-align: left;
      margin-bottom: 0;
    }
  }

  &-image {

    @include breakpoint('lg') {
      position: relative;
      top: -130px;
      right: 0;
      box-shadow: -29px 35px 0 $sunflowerYellow;
    }
  }

  &__text {
    @include breakpoint('lg') {
      padding: 30px 80px;
      margin-top: -90px;
    }
  }

  &__date {
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }
}

.comments {
  background: $pine;

  &__wrapper {
    padding: 50px 24px;

    @include breakpoint('lg') {
      padding: 30px 130px;
      margin-left: 10%;
    }
  }

  &__heading {
    @include headerFont(4rem, 58px, 1.3px);
    margin: 0;
    text-align: center;

    @include breakpoint('lg') {
      text-align: left;
    }
  }

  &__entry {
    display: flex;
    margin-top: 50px;

    @include breakpoint('lg') {
      margin-top: 20px;
    }

    img {
      width: 50px;
      height: 50px;
    }

    &-date {
      font-weight: bold;
      color: $sunflowerYellow;
    }

    &-text {
      margin-left: 20px;
      // margin-bottom: 90px;
    }
  }
}

.comment-form__wrapper {
  @include breakpoint('lg') {
    margin-left: 15%;;
  }
}

.aside {
  background: $almostBlack;
  text-align: center;
  
  @include breakpoint('lg') {
    height: 100%;
    text-align: left;
    position: relative;
    left: 22px;
    top: 120px;
    // margin: 60px;
  }
  
  &__wrapper {
    padding: 20px 0 50px 0;
    
    @include breakpoint('lg') {
      min-width: 340px;
      padding: 10px 20px;
    }
  }

  &__image {
    @include breakpoint('lg') {
      position: relative;
      top: -20px;
      left: -20px;
    }
  }

  &__text {
    @include breakpoint('lg') {
      margin-top: -40px;
    }
  }
  
  &__heading {
    @include headerFont(2.5rem, 58px, 0.8px);
    color: $sunflowerYellow;
    margin-top: 20px;

    @include breakpoint('lg') {
      margin-bottom: 0;
    }
  }

  &__recent-posts {
    
    @include breakpoint('lg') {
      margin-top: 70px;
      margin-bottom: 30px;
    }

    &-list {
      list-style-position: outside;
      text-align: center;
  
      @include breakpoint('lg') {
        text-align: left;
        margin-left: 20px;
      }
    }
  }
}