@use '../utilities/variables' as *;

.contact {
  background-image: url(/assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: cover;
}

.form {
  background: $almostBlack;
}

.social {
  background: $pine;
  padding-top: 20px;

  &__wrapper {
    text-align: center;
    padding: 30px;
  }

  &__links i {
    color: $sunflowerYellow;
    margin-bottom: 10px;
  }

  &__links i:not(:last-child) {
    margin-right: 20px;
  }

  &__text {
    margin: 20px 0;
  }
}