@use '../utilities/' as *;

.header {
  &__text-wrapper {
    padding-top: 30px;
    
    @include breakpoint('md') {
      // width: 100%;
    }
  }
}

main {
  background: $pine;
}


.contact {
  &__header {
    background-image: url(/assets/contact-header.jpg);
    background-repeat: no-repeat;
    // background-position: -10px;
    background-size: cover;
  }
  
  &__wrapper {
    @include breakpoint('lg') {
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      // height: 100vh;
      background: $pine;
    }
  }
  

  &__form {
    background: $almostBlack;
    @include breakpoint('lg') {
      position: relative;
      right: -33%;
      top: -130px;
      box-shadow: 20px 20px 0 $sunflowerYellow;
    }
  }

  &__social {
    // background: $pine;
    padding-top: 20px;

    &-wrapper {
      text-align: center;
      padding: 30px;

      @include breakpoint('lg') {
        text-align: left;
        position: relative;
        left: -215%;
        top: 100px;
        width: 400px;
      }
      
    }

    &-links i {
      color: $sunflowerYellow;
      margin-bottom: 10px;
      
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &-text {
      margin: 20px 0;
    }
  }

}

