.header {
  position: relative;
  background-image: url(/assets/home-header.jpg);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: cover;
  height: 40vh;
  width: 100%;
  padding: 24px 24px 0 24px;

  &__container {
    display: flex;
    flex-direction: column;
    
  }

  &__nav {
    margin-bottom: 15px;
  }
// Hamburger menu
  &__hamburger {
    position: relative;
    border: 0;
    background: transparent;
    cursor: pointer;


    &-bars {
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: $white;

      &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        width: 24px;
        height: 2px;
        background-color: $white;
      }

      &::before {
        top: -7px;
      }

      &::after {
        bottom: -7px;
      }
    }
  }

  // Header text
  &__text-wrapper {
    width: 240px;
    height: 500px;
  }
  
  &__text {
    font-size: 4.9rem;
    font-weight: 600;
    text-transform: uppercase;

    span {
      display: inline-block;
      height: 45px;
      background-color: $white;
      color: $almostBlack;
      padding: 15px 2px;
      margin-top: 8px;
      margin-bottom: 15px;
    }
  }
}