@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Josefin+Sans:wght@400;600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Mixin to manage responsive breakpoints */
html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 1px;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

.header {
  position: relative;
  height: 300px;
  width: 100%;
  padding: 24px 24px 0 24px;
}
@media (min-width: 769px) {
  .header {
    height: 450px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 769px) {
  .header__container {
    max-width: 1110px;
    margin: 0 auto;
  }
}
.header__hamburger {
  position: relative;
  border: 0;
  background: transparent;
  cursor: pointer;
}
@media (min-width: 769px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger-bars {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
}
.header__hamburger-bars::before, .header__hamburger-bars::after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
}
.header__hamburger-bars::before {
  top: -7px;
}
.header__hamburger-bars::after {
  bottom: -7px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.header__nav-list {
  display: none;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
@media (min-width: 769px) {
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__nav-item {
  margin-right: 30px;
}
.header__nav-link {
  color: #ffffff;
  position: relative;
}
.header__nav-link::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -5px;
  background-color: #FFD300;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.header__nav-link:hover::before {
  opacity: 1;
}
.header__text-wrapper {
  width: 240px;
}
.header__text {
  font-size: 4.9rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 20px;
}
.header__text span {
  display: inline-block;
  height: 45px;
  background-color: #ffffff;
  color: #161B0E;
  padding: 6px 2px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.header__image {
  display: none;
}
@media (min-width: 769px) {
  .header__image {
    display: block;
    width: 520px;
    position: absolute;
    top: 135px;
    right: 0;
  }
}

.footer {
  background: #0f0f0f;
  text-align: center;
  padding: 24px;
}

.about {
  background: #2B331B;
  padding: 96px 24px;
}
@media (min-width: 769px) {
  .about {
    padding-top: 140px;
  }
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (min-width: 769px) {
  .about__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1110px;
    margin: 0 auto;
  }
}
@media (min-width: 769px) {
  .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 769px) {
  .about__text {
    text-align: left;
    margin-left: 20px;
  }
}
.about__heading {
  font-size: 4.5rem;
  line-height: 9.98rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}
.about__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .circle-icon {
  color: #2B331B;
  background: #FFD300;
  display: inline-block;
  border-radius: 50%;
  line-height: 50px;
  height: 50px;
  width: 50px;
}
.about .circle-icon {
  margin-top: 20px;
}
.about p {
  margin-bottom: 20px;
}

.feature {
  background: #161B0E;
}
.feature__wrapper {
  width: 100%;
  margin: 0 auto;
}
.feature__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}
.feature__group-text {
  text-align: center;
  padding: 0 24px;
}
.feature__heading {
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  padding-top: 40px;
}
.feature__read-more {
  color: #161B0E;
  background: #FFD300;
  text-transform: uppercase;
}

.promo {
  background: #2B331B;
  padding: 24px;
}
.promo__heading {
  font-size: 3rem;
  line-height: 99.8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFD300;
  text-align: center;
}
.promo__text {
  text-align: center;
}
.promo__find-out-more {
  background: #161B0E;
  color: #ffffff;
  text-transform: uppercase;
}

.space {
  background: #2B331B;
}
.space__feature {
  padding: 32px 24px 0 24px;
}
.space__feature-heading {
  font-size: 2.6rem;
  line-height: 99.8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFD300;
  text-align: center;
}
.space__feature-text {
  text-align: center;
}
.space__find-out-more {
  background: #161B0E;
  color: #ffffff;
  text-transform: uppercase;
}

.gallery {
  padding: 24px;
  background: #161B0E;
}
.gallery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__wrapper {
  padding: 24px;
}
.form input {
  width: 100%;
  font-size: 2rem;
  color: #ffffff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFD300;
  outline: none;
  padding: 20px;
  margin-bottom: 20px;
}
.form input::-webkit-input-placeholder {
  color: white;
}
.form input::-moz-placeholder {
  color: white;
}
.form input:-ms-input-placeholder {
  color: white;
}
.form input::-ms-input-placeholder {
  color: white;
}
.form input::placeholder {
  color: white;
}
.form textarea {
  color: #ffffff;
  width: 100%;
  padding: 20px;
  background: transparent;
  border: 1px solid #FFD300;
  margin: 20px 0;
}
.form button {
  width: 100%;
  color: #161B0E;
  background: #FFD300;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 0;
}

.button {
  display: inline-block;
  font-size: 2.24rem;
  line-height: 41.6px;
  letter-spacing: 0.8px;
  text-align: center;
  margin: 20px 0;
  padding: 2px 5px;
}

.home {
  background: #161B0E;
  background-image: url(/assets/home-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 769px) {
  .home {
    background-position: center;
  }
}

.contact {
  background-image: url(/assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-position: -10px;
  background-size: cover;
}

.form {
  background: #161B0E;
}

.social {
  background: #2B331B;
  padding-top: 20px;
}
.social__wrapper {
  text-align: center;
  padding: 30px;
}
.social__links i {
  color: #FFD300;
  margin-bottom: 10px;
}
.social__links i:not(:last-child) {
  margin-right: 20px;
}
.social__text {
  margin: 20px 0;
}

.blog {
  background-image: url(/assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-position: -100px;
  background-size: cover;
}

.blog-post {
  background: #2B331B;
}
.blog-post__wrapper {
  padding: 24px;
}
.blog-post__heading {
  font-size: 4.3rem;
  line-height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFD300;
  margin-bottom: 20px;
  text-align: center;
}
.blog-post__date {
  font-weight: bold;
  margin-bottom: 20px;
}
.blog-post p {
  margin-bottom: 20px;
}

.comments {
  background: #2B331B;
}
.comments__wrapper {
  padding: 50px 24px;
}
.comments__heading {
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.comments__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.comments__entry img {
  width: 50px;
  height: 50px;
}
.comments__entry-date {
  font-weight: bold;
  color: #FFD300;
}
.comments__entry-text {
  margin-left: 20px;
}

.form {
  background: #2B331B;
}

.aside {
  background: #2B331B;
  text-align: center;
}
.aside__wrapper {
  padding: 20px 0 50px 0;
}
.aside__heading {
  font-size: 2.5rem;
  line-height: 58px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #FFD300;
  margin-top: 20px;
}
.aside__related-posts-list {
  list-style-position: outside;
  text-align: left;
}
.aside__related-posts-list-item {
  padding-left: 20px;
}